
.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  width: 100%;
  margin: 0 auto; /* This centers the element horizontally */
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #2142b2;
}